<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
<form method="post" th:action="@{/customers/edit/{id}(id=${customer.id})}" th:object="${customer}">
    <input class="form-control" th:field="*{name}" type="text" placeholder="Name" required><br>
    <input class="form-control" th:field="*{email}" type="email" placeholder="Email" required><br>
    <input class="form-control" th:field="*{document}" type="number" placeholder="Document" required><br>
    <input class="btn btn-primary" type="submit" value="Save">

</form>
</div>
</body>
</html>